div.home-wrapper {
  div.content-wrap {
    background-color: #f7f7f7;
    div.drinks-wrapper {
      p.text {
        padding: 30px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        letter-spacing: 1.2px;
      }
      div.all-drinks {
        display: flex;
        div.drinks-left {
          flex: 6;
          div.drinks-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
        div.drinks-right {
          flex: 6;
          div.drinks-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    div.foods-wrapper {
      p.text {
        padding: 30px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        letter-spacing: 1.2px;
      }
      div.all-foods {
        display: flex;
        div.foods-left {
          flex: 6;
          div.foods-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
        div.foods-right {
          flex: 6;
          div.foods-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    div.coffees-wrapper {
      p.text {
        padding: 30px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        letter-spacing: 1.2px;
      }
      div.all-coffees {
        display: flex;
        div.coffees-left {
          flex: 6;
          div.coffees-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
        div.coffees-right {
          flex: 6;
          div.coffees-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    div.bags-wrapper {
      p.text {
        padding: 30px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        letter-spacing: 1.2px;
      }
      div.all-bags {
        display: flex;
        div.bags-left {
          flex: 6;
          div.bags-1 {
            display: flex;
            align-items: center;
            padding: 30px;
            cursor: pointer;
            img {
              border: 1px solid;
              border-radius: 32px;
              margin-right: 10px;
            }
          }
        }
        div.bags-right {
          flex: 6;
        }
      }
    }
  }
}
