div.nav-wrapper {
    display: flex;
    height: 15%;
    width: 100%;
    padding: 0 20px;
    div.navigation-wrap {
        display: flex;
        align-items: center;
        img.logo {
            padding: 10px;
        }
        div.menu-items {
            padding: 10px;
            padding-right: 70px;
            a {
                margin: 0 20px;
                font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
                text-decoration: none;
                font-size: 13px;
                color: black;
                font-weight: bold;
                letter-spacing: 1.2px;
            }
        }
        div.menu-btn {
            padding: 10px;
        }
    }
}