div.home-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  div.menu-wrap {
    flex: 5;
    border-right: 2px solid #bbb;
    div.register-wrap {
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div.home-text {
        display: flex;
        align-items: center;
        h1 {
          color: rgba(0, 0, 0, 0.87);
          font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 30px;
        }
      }
      div.connect-wrap {
        display: flex;
        div.sign-in {
          display: flex;
          align-items: center;
          padding: 10px;
          a {
            text-decoration: none;
            color: #000;
          }
        }
        div.join-now {
          padding: 10px;
          button {
            padding: 10px;
            border: 1px solid;
            border-radius: 30px;
            background-color: #fff;
            color: #000;
            //line-height: 1.2;
            font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 15px;
            //width: 50%;
            font-weight: bold;
            &:hover {
              background-color: #bbb;
            }
          }
        }
      }
    }
  }
  div.content-wrap {
    flex: 7;
    overflow: auto;
    //padding: 30px;
    div.intro-starbucks {
      padding: 30px;
      div.intro-text {
        h1 {
          font-size: 15px;
        }
      }
      div.intro-img {
        display: flex;
        div.intro1 {
          padding: 20px;
          display: flex;
          flex-direction: column;
          flex: 4;
          img {
            border: 0px solid;
            border-radius: 5px;
          }
          p {
            font-size: 19px;
            padding-top: 20px;
            color: rgba(0, 0, 0, 0.87);
            font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01em;
          }
        }
      }
      div.more-btn {
        button.jn-btn {
          margin-right: 50px;
          padding: 10px;
          border: 1px solid;
          border-radius: 30px;
          background-color: black;
          color: #fff;
          line-height: 1.2;
          font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 15px;
          width: 16%;
          font-weight: bold;
          &:hover {
            background-color: rgb(53, 51, 51);
            color: #fff;
          }
        }
        button.lm-btn {
          padding: 10px;
          border: 1px solid;
          border-radius: 30px;
          line-height: 1.2;
          background-color: #fff;
          font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 15px;
          width: 18%;
          font-weight: bold;
          &:hover {
            background-color: #bbb;
          }
        }
      }
    }
    div.banner-home {
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      div.banner-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        margin-bottom: 30px;
        div.banner-text {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          h2 {
            font-size: 13px;
          }
        }
      }
      div.line {
        background-color: #bbb;
        height: 1px;
        width: 100%;
      }
      div.terms-policy {
        display: flex;
        margin-top: 30px;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 30px;
        div.change-region {
          display: flex;
          align-items: flex-start;
          margin-right: 150px;
          p {
            margin-right: 20px;
          }
          button.cr-btn {
            padding: 5px;
            color: #45a379;
            background-color: #f7f7f7;
            border: 0px solid;
            font-weight: bold;
            &:hover {
              background-color: #bbb;
              border-radius: 30px;
            }
          }
        }
        div.terms {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            color: #000;
            line-height: 1.8;
          }
        }
      }
      div.ds-by {
        background-color: #f7f7f7;
        p {
          padding: 20px;
        }
      }
    }
    div.orders-btn {
        position: relative;
        button.ord-btn {
            position: fixed;
            right: 30px;
            bottom: 40px;
            padding: 20px;
            border: 0px solid;
            border-radius: 40px;
            width: 15%;
            background-color: #00A862;
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
    }
  }
}
