div.users-card {
  border: 1px solid;
  width: 100%;
  //height: 120px;
  display: flex;
  align-items: center;
  padding: 20px;
  .users-avatar {
    margin-right: 20px;
    img.img-1 {
      display: block;
      height: 100px;
    }
  }
}
